:root {
  --primaryColor: #0866ff;
  --darkPrimaryColor: #07074e;
  --lightPrimaryColor: #1b68b1;
  --secondaryColor: #00aeef;
  --secondary: #c3c5c4;

  --bgColor: #f3f6f6;
  --white: #fff;
  --grayColor: #606060;
  --darkGray: #4a4a4a;
  --lightGray: #dadada;
  --light-gray: #b4b4b4;
  --lighterGray: #f2f2f2;
  --lightDark: #4a4a4a;
  --off-White: #fbfbfb;
  --startGrayGradient: #fffefe;
  --endGrayGradient: #eee9e9;
  --newGray: #868585;
  --startGrayGradient: #fffefe;
  --endGrayGradient: #eee9e9;
  --paraColor: #868585;
  --grayBtn: #f9f9f9cc;
  --white: #fff;
  --error: #ff0000;

  // font sizes
  --font-300: 300;
  --font-400: 400;
  --font-500: 500;
  --font-600: 600;
  --font-700: 700;
  --font-800: 800;
}
